.cardSize {
    height: 300px;
}

.cardGrid {
    max-width: 100%;
}

.cardGrid:hover{
    transform: scale(1.10);
    box-shadow: 0 5px 15px blue;
    transition: box-shadow 0.3s ease-in-out;
    opacity: 1;
}