.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.media {
  height:250px;
}

.cardName {
  transition: all 0.25s linear;
}

.cardName:hover {
  box-shadow: -1px 10px 29px 0px blue;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.split {
  height: 90%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 100;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #111;
}

/* Control the right side */
.right {
  right: 0;
  background-color: rgb(90, 33, 33);
}

.input-field {
  width: 100%;
  padding: 20px 20px 20px 60px;
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2em;
  border: 0;
  outline: none;
}

.footer {
  position:fixed;
  left:0px;
  bottom:0px;
  height:200px;
  width:100%;
  z-index: 2;
  background:#999;
}